.modal {
  position: fixed;
  background-color: rgba(0,0,0,0.32);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  flex: 0 640px;
  padding: 0.5rem;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
}

.modal__image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
