@import url('https://rsms.me/inter/inter.css');

* { box-sizing: border-box; }
*
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: rgba(240,240,250,1);
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #333;
  margin: 0;
}

.caption {
  font-size: 0.75rem;
  color: #555;
}

/* component styles */

.app {
  margin: 0 auto;
  width: 100%;
}

.app__header {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.02);
  padding: 0.5rem 2rem;
}

.app__search {
  flex: 0 70%;
  padding: 0 1rem;
}

.app__title,
.app__stats {
  flex: 0 15%;
}

.app__title {
  font-size: 2rem;
  color: #5454ff;
}

.app__content {
  padding: 2rem;
}

.app__description {
  padding-bottom: 1rem
}
